#container{
	font-family: courier;
	height: 50px;
}

.button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
}

#r{
 	background-color: #f44336;
}

#g{
	background-color: #4CAF50;
}

#y{
	background-color: #FFFF00;
}
