<HTML>
	<HEAD>
		<LINK rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
		<META name = "viewport" content="width=device-width">
		<TITLE>TASKPAGE||1172</TITLE>
	</HEAD>
	<BODY>
		<div id="container">
		<h2>
		INTERNET OF THINGS..
		</h2>
			<p>
				Welcome to <i>INTERNET_OF_THINGS</i> by <b>1172</b>
				<br>
				It uses Python's flask framework and GPIO programming on RaspberryPi!
				<br>
				<a href="/task">Click to continue!</a>
			</p>
		</div>
	</BODY>
</HTML>